<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="cordova-plugin-em-opcodeauth"
        version="1.7.2">
  
  <name>OPCodeAuth</name>
  <description>Get the authentication token (aka opcode) associaed with a user.</description>
  <author>K. Shankari (shankari@eecs.berkeley.edu)</author>
  <license>Modified BSD license</license>

  <engines>
    <engine name="cordova" version=">=3.6.0"/>
    <engine name="cordova-android" version=">=7.0.0"/>
    <engine name="cordova-ios" version=">=5.0.0"/>
  </engines>

  <asset src="www/opcodeauth.js" target="js/opcodeauth.js"/>

  <js-module src="www/opcodeauth.js" name="opcodeauth">
    <clobbers target="cordova.plugins.OPCodeAuth" />
  </js-module>

  <!--
  <dependency id="edu.berkeley.eecs.emission.cordova.unifiedlogger"
                url="https://github.com/e-mission/cordova-unified-logger.git"/>
  <dependency id="edu.berkeley.eecs.emission.cordova.settings"
                url="https://github.com/e-mission/cordova-connection-settings.git"/>
  -->
  <hook type="after_plugin_install" src="hooks/android/addResourcesClassImport.js" />

  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="OPCodeAuth">
        <param name="android-package" value="edu.berkeley.eecs.emission.cordova.opcodeauth.OPCodePlugin"/>
        <param name="onload" value="true"/>
      </feature>
    </config-file>

    <source-file src="src/android/OPCodePlugin.java" target-dir="src/edu/berkeley/eecs/emission/cordova/opcodeauth"/>
    <source-file src="src/android/PromptedAuth.java" target-dir="src/edu/berkeley/eecs/emission/cordova/opcodeauth"/>
    <source-file src="src/android/AuthResult.java" target-dir="src/edu/berkeley/eecs/emission/cordova/opcodeauth"/>
    <source-file src="src/android/AuthPendingResult.java" target-dir="src/edu/berkeley/eecs/emission/cordova/opcodeauth"/>
    <source-file src="src/android/AuthTokenCreator.java" target-dir="src/edu/berkeley/eecs/emission/cordova/opcodeauth"/>
    <source-file src="src/android/AuthTokenCreationFactory.java" target-dir="src/edu/berkeley/eecs/emission/cordova/opcodeauth"/>
  </platform>

  <platform name="ios">

    <config-file target="config.xml" parent="/*">
      <feature name="OPCodeAuth">
        <param name="ios-package" value="BEMOPCode" />
        <param name="onload" value="true"/>
      </feature>
    </config-file>

    <header-file src="src/ios/BEMOPCode.h"/>
    <header-file src="src/ios/PromptedAuth.h"/>
    <header-file src="src/ios/AuthTokenCreator.h"/>
    <header-file src="src/ios/AuthTokenCreationFactory.h"/>

    <source-file src="src/ios/BEMOPCode.m"/>
    <source-file src="src/ios/PromptedAuth.m"/>
    <source-file src="src/ios/AuthTokenCreationFactory.m"/>

  </platform>
</plugin>
